
.footer {
  border-radius: 20px;
  background: #efe1e1;

}

.footer__container {
  max-width: 1280px;
  padding: 70px 0;
  margin: 0 auto;
}

.footer__block {
  display: flex;
  justify-content: space-between;
}

.footer__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.footer__left-nav {
  color: #000;
  font-family: Comfortaa;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__middle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.footer__middle-nav {
  color: #000;
  font-family: Comfortaa;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__right {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

.footer__right-nav {
  color: #000;
  font-family: Comfortaa;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__end {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.footer__end-text {
  color: #000;
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
